.header {
  width: 115.5rem;
  background-color: #e2dad8;
}
.My-category {
  font-size: x-large;
  height: 150px;
  text-align: center;
}
.categoryImage {
  width: 100px;
  height: 100px;
  margin-left: 48%;
}
.icon-Home {
  width: 100px;
  height: 100px;
}
.icon {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    background-color: #e2dad8;
  }
  .My-Guests {
    font-size: large;
    height: 150px;
    text-align: center;
  }
  .categoryImage {
    width: 80px;
    height: 80px;
    margin-left: 40%;
  }
  .icon-Home {
    width: 60px;
    height: 60px;
  }
}
