.header {
  width: 100%;
  background-color: #e2dad8;
}
.My-Guests {
  font-size: x-large;
  height: 150px;
  text-align: center;
}
.categoryImage {
  width: 100px;
  height: 100px;
  margin-left: 48%;
}
.icon-Home {
  width: 100px;
  height: 100px;
}
.icon {
  display: flex;
  justify-content: space-between;
}
.form {
  margin-left: 38%;
  margin-top: 5%;
  border: 5px solid #e2dad8;
  width: 463px;
}
.Add-Guests {
  display: flex;
  flex-direction: row-reverse;
}
.Add-Guests input {
  width: 353px;
  height: 30px;
  text-align: right;
}
.Guests-Button {
  background-color: #e2dad8;
  width: 100px;
  height: 30px;
}
.list-Guests {
  /* background-color: cornflowerblue; */
  width: 450px;
  height: 100%;
  text-align: right;
}
.Name {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; 
}
.status 
{
  background-color: #e2dad8;
  width: 50px;

} 
.FemaleMale{
  background-color: #e2dad8;
  width: 50px;

}
.select{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; 


}
.Delet-Button{
  width: 50px;
  height: 50px;
  background-color: #e2dad8;}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}
/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    background-color: #e2dad8;
  }
  .My-Guests {
    font-size: large;
    height: 150px;
    text-align: center;
  }
  .categoryImage {
    width: 80px;
    height: 80px;
    margin-left: 40%;
  }
  .icon-Home {
    width: 60px;
    height: 60px;
  }
  .form {
    margin-left: 10%;
    margin-top: 5%;
    border: 5px solid #e2dad8;
    width: 320px;
  }
  .Add-Guests input {
    width: 530px;
    height: 30px;
    text-align: right;
  }
  .Guests-Button {
    background-color: #e2dad8;
    width: 100px;
    height: 30px;
  }
  .list-Guests {
    /* background-color: cornflowerblue; */
    width: 310px;
    height: 100%;
    text-align: right;
  }

}