.popUpVisible {
  display: flex;
  text-align: center;
  margin-left: 40%;
  margin-top: 40%;
  width: 300px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.8s;
}
.popUpHidden {
  position: absolute;
  top: -100%;
  opacity: 0;
}
.loginForm {
  background-color:#E2DAD8;
  border: 2px solid black;
  margin: 15vh auto;
  font-size: 22px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border-radius: 15px;
}
.userName,
.password {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
.closeForm {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 25px 0 0;
  width: 30px;
  height: 30px;
}
.closeForm img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.img-logIn img{
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 800px) {
  .popUpVisible {
    
  }

}